.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

/* Lists */

li {
    list-style-type: disc;
    list-style-position: outside;
    margin-bottom: 16;
    margin-left: 25;
}