---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Hi there!</div>
  </div>

  <div class="mb-10 text-justify">
    I'm a second-year Software Engineering student at the University of Waterloo with a passion for AI/ML, 
    cybersecurity, and software engineering. I've worked in both startups and big companies, honing my skills in 
    cybersecurity analysis and software development. I'm also proficient in graphic design, digital music production, 
    and video editing.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Software Engineering (BSE)"
      subtitle="[2022 - 2027] University of Waterloo, ON, Canada"
    />
    <TimeLineElement
      title="International Baccalaureate (IB) Diplome"
      subtitle="[2020 - 2022] Canadian International School, Singapore"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="BlackBerry"
      subtitle="Security Response Analyst, Software Developer"
      timeloc="[Jan 2024 - Apr 2024] Waterloo, ON, Canada"
    >
      <ul class=""list-disc pl-5>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Cypienta"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      <ul class=""list-disc pl-5>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      <ul class=""list-disc pl-5>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
